<div class="mdl-mega-footer__middle-section">
	<div id="mdlite_widget-1" class="mdl-mega-footer__drop-down-section footer-widget widget_mdlite_widget">
		<input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
		<h1 class="mdl-mega-footer__heading footer-title">Links</h1>
		<ul class="mdl-mega-footer__link-list">
			<li><a href="https://ghost.org/" title="How do you want to start your blog?" target="_blank">Ghost</a></li>
			<li><a href="https://www.loacg.com/" title="You are not alone." target="_blank">Sendya</a></li>
			<li><a href="http://www.getmdl.io/" title="Material Design Lite" target="_blank">Material Design Lite</a></li>
			<li><a href="/links" title="More link" target="_blank">More..</a></li>
		</ul>
	</div>
	<div class="mdl-mega-footer--drop-down-section">
    <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
    <h1 class="mdl-mega-footer--heading">Details</h1>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="#">Spec</a></li>
      <li><a href="#">Tools</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
  </div>
	<div class="mdl-mega-footer--drop-down-section">
	  <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
	  <h1 class="mdl-mega-footer--heading">Technology</h1>
	  <ul class="mdl-mega-footer--link-list">
	    <li><a href="#">How it works</a></li>
	    <li><a href="#">Patterns</a></li>
	    <li><a href="#">Usage</a></li>
	    <li><a href="#">Products</a></li>
	    <li><a href="#">Contracts</a></li>
	  </ul>
	</div>
	<div class="mdl-mega-footer--drop-down-section">
        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked="">
        <h1 class="mdl-mega-footer--heading">FAQ</h1>
        <ul class="mdl-mega-footer--link-list">
          <li><a href="#">Questions</a></li>
          <li><a href="#">Answers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
  </div>
	</div>
	<div class="mdl-mega-footer--bottom-section">
		<div class="mdl-logo">
		  Proudly published with <a href="https://ghost.org">Ghost</a>
		</div>
		<ul class="mdl-mega-footer--link-list">
		  <li><a href="https://developers.google.com/web/starter-kit/">Google Material Design</a></li>
		</ul>
	</div>