{{! 
	这里是Drawer菜单(左侧隐藏的菜单栏) 文件
	由于 Ghost 无法支持多菜单,既欲修改或增加菜单需要手动修改本文件内容
	
	列表内容会自动获取主菜单内容并添加到 drawer 菜单.
	要修改或停止请修改文件 /assets/js/material.min.js 第 14行.
	Current class : current-menu-item current_page_item
	
	Sendya modifyed 10/09/2015.
 }}
<nav class="mdl-navigation" id="mdl-navdrawer">
	<a href="/ghost/" class="mdl-navigation__link" target="_blank">Log in</a>
</nav>