<nav class="mdlite-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col" role="navigation">
		{{#if prev}}
		<a class="mdlite-nav__button" href="{{pageUrl prev}}"><button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons">arrow_back</i></button> 上一页</a>
    {{/if}}

    <div class="section-spacer">Page {{page}} of {{pages}}</div>
    {{#if next}}
    <a class="mdlite-nav__button" href="{{pageUrl next}}">上一页 <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"><i class="material-icons">arrow_forward</i></button></a>
		{{/if}}	
</nav><!-- .navigation -->